<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ElevAds - Stand Out.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="#hero">Elev<span>Ads</span></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="about">Industries</a></li>

<!--          <li class="dropdown"><a href="about"><span>Industries</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->

<!--              </li>-->
<!--              <li><a href="#">Gym & Fitness</a></li>-->
<!--              <li><a href="#">Food & Drinks</a></li-->
<!--              <li><a href="#">Entertainment</a></li>-->
<!--              <li><a href="#">Residences</a></li>-->
<!--              <li><a href="#">Lodging</a></li>-->
<!--              <li><a href="#">Education</a></li>-->
<!--              <li><a href="#">Corporate</a></li>-->
<!--              <li><a href="#">Retail</a></li>-->
<!--            </ul>-->
<!--          </li>-->

          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Plans</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <a href="#contact" class="get-started-btn scrollto">Inquiries</a>


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Elevate Your <span>Ads</span></h1>
          <h2 class="hero-subtitle"><span class="typed" data-typed-items="To A Whole New, Level."></span></h2>

<!--          <h2>desc..</h2>-->
        </div>
<!--      </div>-->

<!--      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">-->
<!--        <div class="col-xl-2 col-md-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-store-line"></i>-->
<!--            <h3><a href="">Lorem Ipsum</a></h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-2 col-md-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-bar-chart-box-line"></i>-->
<!--            <h3><a href="">Dolor Sitema</a></h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-2 col-md-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-calendar-todo-line"></i>-->
<!--            <h3><a href="">Sedare Perspiciatis</a></h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-2 col-md-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-paint-brush-line"></i>-->
<!--            <h3><a href="">Magni Dolores</a></h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-2 col-md-4">-->
<!--          <div class="icon-box">-->
<!--            <i class="ri-database-2-line"></i>-->
<!--            <h3><a href="">Nemos Enimade</a></h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/about.png" class="img-fluid rounded" alt="" >
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Captivate your audience with our eye-catching screen advertising.</h3>
            <p class="fst-italic">
              Unskippable pop-up ads are brief videos that abruptly appear on ElevAds screens and cannot be skipped by viewers.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> These ads last for a period of 5 to 30 seconds and advertisers are charged based on the total number of times they are displayed to our audience within the agreed time frame.</li>
              <li><i class="ri-check-double-line"></i> The delivery period is contracted, and the cost of the ads is determined by the number of impressions that the ad receives.</li>
<!--              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>-->
            </ul>
            <p>
              Elevate your marketing game with our cutting-edge screen advertising technology. <span>Stand Out</span>.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
<!--    <section id="clients" class="clients">-->
<!--      <div class="container" data-aos="zoom-in">-->

<!--        <div class="clients-slider swiper">-->
<!--          <div class="swiper-wrapper align-items-center">-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="static/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>-->
<!--          </div>-->
<!--          <div class="swiper-pagination"></div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Clients Section &ndash;&gt;-->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6 rounded" style='background-image: url("static/assets/img/features.png");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">

            <div class="spacer"></div>

            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Deliver your message</h4>
              <p>Make a lasting impression with our impactful screen advertising solutions.</p>
            </div>
            <div class="spacer"></div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Stand out</h4>
              <p>With our screens, your business will be seen by the right people at the right time.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Core Features</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-image"></i></div>
              <h4><a href="">Show Your Media</a></h4>
              <p>Harness the power of videos & images and make your message memorable.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-time"></i></div>
              <h4><a href="">Easy Scheduling & Management</a></h4>
              <p>Set different content schedules to target the right viewers, at the right time.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-lock"></i></div>
              <h4><a href="">Full Security & Reliability</a></h4>
              <p>Enterprise-grade security includes TLS, firewall and password policies, Player lock-down & storage encryption features.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Be seen. Be remembered. ElevAds.</h3>
          <p> Power up your business with screen advertising.</p>
          <a class="cta-btn" href="#contact">Inquiries</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Check our Samples</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>ElevAds</h4>
                <p>Screen Advertisement</p>
                <div class="portfolio-links">
                  <a href="static/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 3</h4>-->
<!--                <p>Web</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 2</h4>-->
<!--                <p>App</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 2</h4>-->
<!--                <p>Card</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 2</h4>-->
<!--                <p>Web</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 3</h4>-->
<!--                <p>App</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 1</h4>-->
<!--                <p>Card</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 3</h4>-->
<!--                <p>Card</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 3</h4>-->
<!--                <p>Web</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="static/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">

              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-fullscreen"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Online Screens</strong></p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-building"></i>
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Organizations</strong></p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Years of Work</strong></p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-flag"></i>
                    <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Countries</strong></p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Choose Your Plan</h2>
          <p>Pricing Plans</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Elevate Plan</h4>
                <span><br>- 10 second advertisement</br>
                      <br>- Runs every 5 minutes</br>
                      <br>- 15 percent discount if they purchase for minimum of 3 months contract.</br>
                      <br>- 2 free days tryout</br>
                      <br>- Displayed with some other adds at the same time.</br>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Upward Plan</h4>
                <span> <br>- 20 second advertisement</br>
                        <br>- Runs every 3 minutes</br>
                        <br>- Option to chose peak hours per day</br>
                        <br>- 15 percent discount if they purchase for minimum of 3 months contract</br>
                        <br>- 1 free day tryout</br>
                       <br> - Displayed exclusively on the screen</br>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Apex Plan</h4>
                <span> <br>- 40 second advertisement</br>
                      <br>- Runs every 3 minutes</br>
                      <br>- Option to chose peak hours per day</br>
                      <br>- 1 free day tryout</br>
                      <br>- Displayed exclusively on the screen</br>
                      <br>- Includes QR codes if needed</br>
                     <br> - Includes video adds if needed</br>
                </span>
              </div>
            </div>
          </div>



        </div>

      </div>

      <div class="map" data-aos="fade-right">
          <iframe style="border:0; width: 100%; height: 370px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d719079.1817789668!2d-76.3607034557795!3d45.249753136202365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce05b25f5113af%3A0x8a6a51e131dd15ed!2sOttawa%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sma!4v1677260960660!5m2!1sen!2sma" frameborder="0" allowfullscreen></iframe>
        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact us</h2>
          <p>ASK FOR A QUOTE</p>
        </div>



        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Ottawa, Canada</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>@.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Breif Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="A Detailed Explanation Of What You Desire" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Contact</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Elev<span>Ads</span></h3>
              <p>
                <br>
                Ottawa, Canada<br><br>
                <strong>Phone:</strong> +1<br>
                <strong>Email:</strong> @.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-8 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to be personally notified of any news regarding our services.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ElevAds</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#hero">ElevAds</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {{  bootstrap.load_js() }}
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>